video {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
 
    width: 1000px;
    border: 3px solid red;
    border-radius: 3%;
  }
    


img{
    height: 70px;
    margin-top: 10px;
    
}

#errorImage{
    height:300px;
    border:3px solid red;
    border-radius: 3%;
}
.error_image {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

.show{
    display: flex;
    flex-direction: column;
}

button{
    margin-left: 100px;
}