.card{
    height: 255px;
    width: 366px;
    border: 2px solid rgb(240, 12, 172);
}
img{
    height: 251px;
    width: 362px;

    
}


#play-button{
    height: 55px;
    width: 55px;
    margin-top: -290px;
    margin-left: 150px;
}
