<div class="card shadow" style="background-color: cornsilk">
    <div class="card-body">
        <div class="row row-data">
            <div class="col-4">
                <p><b>Song Name:</b><p>
            </div>
            <div class="col-8"><p><span>{{songDetail.songName}}</span></p></div>
        </div>
        <hr>
        <div class="row row-data">
        <div class="col-4">
              <p><b>Singer Name:</b><p>
        </div>
        <div class="col-8"><p><span>{{songDetail.singerName}}</span></p></div>
        </div>
        <hr>
        <div class="row row-data">
            <div class="col-4">
                  <p><b>Movie:</b><p>
            </div>
            <div class="col-8"><p><span>{{songDetail.movieName}}</span></p></div>
        </div>
        <hr>
        <div class="row row-data">
            <div class="col-4">
                <p><b>Duration:</b><p>
            </div>
            <div class="col-8"><p><span>{{songDetail.duration}}</span></p></div>
        </div>
        
    </div>
</div>



  