<div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="30px">
    <app-user-list *ngIf="!loading && !error" [users]="this.users"></app-user-list>
    <mat-spinner *ngIf="loading"></mat-spinner>

    <div *ngIf="error && !loading" fxLayout="column"  fxLayoutAlign="center center" fxLayoutGap="10px">
        <mat-icon>error_outline</mat-icon>
        <span>Error Occured!</span>
        <button  (click)="tryAgain()" mat-raised-button color="warn">Please Try Again</button>
    </div>
    <button *ngIf="!loading && !error"  (click)="addUser()" mat-raised-button color="primary">Add User</button>
   
</div>
